.features {
  max-width: 750px;
  padding: 10px 10px;
  height: auto;
  margin: auto;
  background-color: rgba(212, 162, 69, 0.103);
  margin-bottom: 100px;
  border-radius: 10px;
  /* border: 1px solid grey; */
}
.features-wrapper {
  width: 100%;
  height: 100%;
  /* background-color: white; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;

  gap: 10px;
}
.features .feature {
  background-color: white;
  padding: 4px;
  transition: 0.2s ease-in;
  border-radius: 10px;
  /* padding: 10px; */
  /* box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5); */
  /* border: 2px solid navy; */
}
.features .feature > div {
  height: 100%;
  background-color: white;
  /* border: 1px solid red; */
  padding: 15px 10px;
  text-align: center;
  border-radius: 10px;
}
.features .feature:hover {
  background-color: rgba(0, 0, 128, 0.294);
  transform: scale(1.05);
}

.features .feature p:first-child {
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
  font-style: italic;
  font-size: 1.2rem;
}
.features .feature p:last-child {
  color: rgba(0, 0, 0, 0.452);
  font-weight: 400;
  line-height: 1.2rem;
}

@media screen and (max-width: 768px) {
  .features {
    width: fit-content;
  }
  .features-wrapper {
    grid-template-columns: 375px;
    justify-content: center;
  }
}
