.navigation-wrapper {
  height: 100% !important;
}
.navigation-wrapper .keen-slider {
  height: 100%;
}

[class^='number-slide'],
[class*=' number-slide'] {
  background: white;
  margin-right: 20px;
  border-radius: 10px;
  padding: 35px 25px;
}
.keen-slider .slide-header {
  margin-bottom: 20px;
  /* border: 1px salmon solid; */
  display: flex;
  align-items: center;
}
.keen-slider .slide-header .image {
  width: 50px;
  height: 50px;
  background-color: grey;
  border-radius: 50%;
  margin-right: 10px;
  position: relative;
}
.keen-slider .slide-header .image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.keen-slider .slide-header .image::after {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgb(3, 200, 88);
  position: absolute;
  bottom: 2px;
  right: -3px;
}
.keen-slider .slide-header .details p:first-child {
  font-weight: 700;
  font-size: 1.1rem;
}
.keen-slider .slide-header .details p:last-child {
  color: #c8c2c2;
  font-style: italic;
}
.keen-slider .slide-body {
  margin-bottom: 20px;
  border-left: hotpink 3px solid;
  padding-left: 5px;
}
.keen-slider .slide-footer {
  display: flex;
  /* border: 1px solid slateblue; */
}
.keen-slider .slide-footer p:last-child {
  margin-left: auto;
  font-size: 1.3rem;
}
.navigation-wrapper {
  position: relative;
  z-index: 999;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 10px;
  cursor: pointer;
}

.arrow--left {
  left: -45px;
}

.arrow--right {
  left: auto;
  right: -45px;
}

.arrow--disabled {
  fill: rgba(0, 0, 0, 0.5);
}
